.avatar {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  line-height: 64px;
  margin-right: 10px;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0px;
}
