@import 'normalize.css/normalize';
@import './components/loader.scss';
@import './components/avatar.scss';
@import './containers/big-screen/index.scss';
@import './components/lobby.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  margin: 0;
}
