@import 'normalize.css/normalize';
@import './components/loader.scss';
@import './components/avatar.scss';
@import './components/player-join.scss';
@import './components/player-header.scss';
@import './components/player-hand.scss';
@import './containers/player/index.scss';
@import './components/player-game.scss';

* {
  box-sizing: border-box;
}

.player-game {
  max-width: 700px;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}
