@import 'normalize.css/normalize';
@import './components/loader.scss';
@import './components/player-join.scss';
@import './components/player-header.scss';
@import './components/player-hand.scss';
@import './containers/player/index.scss';
@import './components/player-game.scss';

* {
  box-sizing: border-box;
}

.player-screen {
  min-width: 100%;
  min-height: 100%;
}
